.background {
  background-image: url("../assets/background-ocean-landmass.webp");

  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.MessageAndIcons {
  border: 10px;
  max-width: 600px;
  height: 55vh;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;

  padding: 25px;

  border-radius: 16px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(198, 220, 198, 0.256);
  backdrop-filter: blur(4px);
}

.msg {
  font-size: 2rem;
  text-align: center;
  color: rgb(10, 82, 10);
}

.services {
  display: flex;
  margin-top: 20px;
}

.services img {
  height: 7em;
  width: 7em;
  margin: 10px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.services img:hover {
  transform: scale(1.1);
}

#clickPlease {
  color: rgba(245, 245, 245, 0.807);
}
