.background {
  background-image: url("../assets/background-ocean-landmass.webp");

  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.MessageAndIcons {
  border: 10px ;
  max-width: 800px;
  width:100%;
  margin:auto;

  align-items: center;
  height:50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex start;

  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  
  padding: 250px;



  overflow-y: auto;
  
  border-radius: 13px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(198, 220, 198, 0.256);
  backdrop-filter: blur(4px);
}

.welcomeMsg {
  max-width: 600px;
}

.welcomeMsg h1 {
  font-size: 2.5em;
}

.welcomeMsg p {
  font-size: 1.1em;
  margin-top: 10px;
}

.services {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.clothesAndFood,
.furnitureAndCharities {
  text-align: center;
}

.services a {
  text-decoration: none;
  color: #333;
}

.services img {
  margin: 10px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
  height: 130px;
  width: 130px;
}

.services img:hover {
  transform: scale(1.1);
}
