/* Entire container */
.allDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  background-color: #f8f9fa;
  flex-direction: column;
}

/* Charity details container */
.charityDetails {
  max-width: 30rem;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  justify-content: space-evenly;
}

.textDetails {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.imageDetails {
  max-width: 200px;
  max-height: auto;
}

/* Form container */
.formContainer {
  margin-top: 20px;
}

.formDetails {
  margin-left: 5%;
}

.inputDetails {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 1em;
}

/* Buttons */
.updateButton {
  background-color: #0c3b2e;
  color: #fff;
  cursor: pointer;
}

.deleteButton {
  background: linear-gradient(
    58deg,
    rgba(243, 172, 18, 1) 20%,
    rgba(241, 196, 15, 1) 100%
  );
  color: #fff;
  cursor: pointer;
}

.updateButton,
.deleteButton {
  width: 100%;
  padding: 1em;
  font-size: 1em;
  border-radius: 4px;
  margin-bottom: 1rem;
  /* margin-left: 9rem;
    max-width: 10rem; */
}

.updateButton:hover,
.deleteButton:hover {
  opacity: 0.9;
}
