/* Entire container of content */
.entire-page {
  /* border: solid 2px rgb(239, 7, 7); */
  margin: 100px 30px 10px 30px;
  padding: 30px;
  text-align: center;
  background-color: #f1f1f1;
  height: 100vh;
  border-radius: 5px;
}

.capitalize {
  text-transform: capitalize;
}

h2,
.bigHeaderList {
  color: #0f5031;
  font-size: 2rem;
}

/* Container of charity list */
.flex {
  /* border: solid 2px rgb(0, 0, 0); */

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* background of each card */
.player-cards {
  text-align: center;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  text-align: center;

  /* height: 13.3rem;
  width: 11.5rem; */

  box-shadow: 0 2px 4px rgb(10, 46, 102);
  margin: 20px;
}

.player-cards:hover {
  transform: translateY(-5px);
}

/* content of charity card */
.charity-card {
  display: flex;
  flex-direction: column;
  align-self: center;

  list-style: none;

  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px;

  height: 13rem;
  width: 10rem;
}

.image {
  height: 4rem;
  width: 4rem;
}

.charityTitle {
  margin: -20px 0px 10px 0px;
  color: #105834;
  font-size: 0.9rem;
}

.charityDescription {
  font-size: 0.5rem;
  color: black;
  margin: 12px;
}

.charity-link {
  margin: 12px;
  text-decoration: none;
}

#stopIt:hover {
  background-color: rgba(255, 255, 255, 0);
}

#listAll {
  list-style: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
}

/* Media query for screens with a maximum width of 600 pixels */

@media (max-width: 600px) {
  .entire-page {
    height: 100%;
  }
}
