.charityList {
  margin: 80px 50px 50px 40px;
  padding: 30px;
  text-align: center;
  background-color: #0a512e84;
}

.charity-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.charity-link {
  text-decoration: solid underline 0.5px #388645;
  font-size: x-small;
  color: #105834;
  margin: 12px;
}

.charityTitle {
  margin: 8px;
  color: #105834;
  font-size: 1em;
}

.charityDescription {
  font-size: small;
  color: #388645;
  margin: 12px;
}

.bigHeaderList {
  color: rgb(10, 46, 102);
  -webkit-text-stroke: 1px rgba(245, 245, 245, 0.787);
  text-shadow: 3px 3px 0 #ffffff2d;
  font-size: 2em;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.charity-card {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 2px 4px rgb(252, 250, 112);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;

  background-color: whitesmoke;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgb(10, 46, 102);
  height: 32em;
}

.charity-card:hover {
  transform: translateY(-5px);
}

.charity-card img {
  max-width: 90%;
  height: auto;
  display: block;
}
