/* Entire container */
.allDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
  margin: 2rem;
  padding: 2rem;
  margin-top: 4rem;
}

/* Charity details container */
.charityDetails {
  margin-right: 25px;
  max-width: 30rem;
}

.imageDetails {
  max-width: 300px;
  height: auto;
  margin-bottom: 50px;
  margin-top: -50px;
}

.titleDetails {
  font-size: 2rem;
  margin-bottom: 15px;
}

.descriptionDetails,
.emailDetails,
.phoneDetails,
.addressDetails,
.categoryDetails {
  margin-bottom: 5px;
  font-size: 1.3rem;
  color: #285fa7;
}

.emailDetails,
.phoneDetails,
.addressDetails {
  color: black;
  font-size: 1rem;
}

.categoryDetails {
  font-size: 0.8rem;
  margin-top: 1rem;
}

.descriptionDetails {
  margin-bottom: 1rem;
}

/* Form container */
.formContainer {
  margin-top: 20px;
}

.formDetails {
  margin-left: 5%;
}

.inputDetails {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 1em;
}

.createButton {
  background: linear-gradient(
    58deg,
    rgba(243, 172, 18, 1) 20%,
    rgba(241, 196, 15, 1) 100%
  );

  color: #fff;
  cursor: pointer;
  width: 100%;
  padding: 1em;
  font-size: 1em;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.createButton:hover {
  opacity: 0.9;
}
