/* entire page container */
.bdy {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
}

.about {
  background: url("../../assets/photo-1582803824594-65b5b4632cad.avif")
    no-repeat;
  background-size: 55%;
  background-color: #f1f1f1;
  overflow: hidden;
  padding: 100px 0;
}

/* yellow sections */
.inner-section {
  width: 55%;
  float: right;
  background-color: #ebae05;
  padding: 140px;
  box-shadow: 12px 12px 8px rgb(0, 0, 0, 0.3);
}

/* headers */
.headerAbout {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 900;
}

#ourTeam {
  margin-top: 80px;
}

.text {
  font-size: 15px;
  color: black;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

/* button container */
.skills {
  align-self: center;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

/* button */
.skills > button {
  font-size: 22px;
  text-align: center;
  letter-spacing: 2px;
  border: none;
  border-radius: 20px;
  padding: 8px;
  width: 200px;
  background-color: #0c3b2e;
  color: white;
  cursor: pointer;
}

.skills > button:hover {
  transition: 1s;
  background-color: #ecf5f5;
  color: rgb(14, 109, 14);
}

@media screen and (max-width: 1200px) {
  .inner-section {
    padding: 80px;
  }
}
@media screen and (max-width: 1000px) {
  .about {
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-section {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .about {
    padding: 0;
  }
  .inner-section {
    padding: 60px;
  }
  .skills > button {
    font-size: 19px;
    padding: 5px;
    width: 160px;
  }
}
